<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbi.dao.UserDao">
	<resultMap type="User" id="UserResult">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="psw" column="psw" />
	</resultMap>

	<select id="loginShiro" parameterType="Map" resultMap="UserResult">
		select *
		from nbi_user where name=#{name}
	</select>

</mapper>